<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mon_type_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mon_type_name" class="form-control" name="row[mon_type_name]" type="text" value="{$row.mon_type_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data1" class="form-control" name="row[data1]" type="text" value="{$row.data1|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data1_this')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data1_this" class="form-control" name="row[data1_this]" type="text" value="{$row.data1_this|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data1_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data1_total" class="form-control" name="row[data1_total]" type="text" value="{$row.data1_total|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data1_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data1_rate" class="form-control" name="row[data1_rate]" type="text" value="{$row.data1_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data2" class="form-control" name="row[data2]" type="text" value="{$row.data2|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data2_this')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data2_this" class="form-control" name="row[data2_this]" type="text" value="{$row.data2_this|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data2_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data2_total" class="form-control" name="row[data2_total]" type="text" value="{$row.data2_total|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data2_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data2_rate" class="form-control" name="row[data2_rate]" type="text" value="{$row.data2_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data3')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data3" class="form-control" name="row[data3]" type="text" value="{$row.data3|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data3_this')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data3_this" class="form-control" name="row[data3_this]" type="text" value="{$row.data3_this|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data3_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data3_total" class="form-control" name="row[data3_total]" type="text" value="{$row.data3_total|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data3_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data3_rate" class="form-control" name="row[data3_rate]" type="text" value="{$row.data3_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data4')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data4" class="form-control" name="row[data4]" type="text" value="{$row.data4|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data4_this')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data4_this" class="form-control" name="row[data4_this]" type="text" value="{$row.data4_this|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data4_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data4_total" class="form-control" name="row[data4_total]" type="text" value="{$row.data4_total|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data4_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data4_rate" class="form-control" name="row[data4_rate]" type="text" value="{$row.data4_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data5')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data5" class="form-control" name="row[data5]" type="text" value="{$row.data5|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data5_this')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data5_this" class="form-control" name="row[data5_this]" type="text" value="{$row.data5_this|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data5_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data5_total" class="form-control" name="row[data5_total]" type="text" value="{$row.data5_total|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data5_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data5_rate" class="form-control" name="row[data5_rate]" type="text" value="{$row.data5_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">连续xx天（日变量）1:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-param1" class="form-control" name="row[param1]" type="text" value="{$row.param1|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">连续xx天（日变量）2:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-param2" class="form-control" name="row[param2]" type="text" value="{$row.param2|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
