        <form id="add-form" class="form-horizontal nice-validator n-default n-bootstrap" role="form" data-toggle="validator"
                              method="POST" action="" novalidate="novalidate">
<!--                            <div class="form-group">-->
<!--                                <label class="control-label col-xs-12 col-sm-2">选择类型:</label>-->
<!--                                <div class="col-xs-12">-->
<!--                                    <div class="radio">-->
<!--                                        <label for="row[state]-normal">-->
<!--                                            <input id="row[state]-normal" name="state" type="radio" value="1" checked="checked"> 监测数据-->
<!--                                        </label>-->
<!--                                        <label for="row[state]-hidden">-->
<!--                                            <input id="row[state]-hidden" name="state" type="radio" value="2"> 原始数据-->
<!--                                        </label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                                <input type="hidden" id="project_mon_type_id" value="{$project_mon_type_id}">

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2">选择时间:</label>
                                <div class="col-xs-12">
                                    {:Form::datetimerange('row[data_time]', '', ['data-rule'=>'required','id'=>'data_time'])}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2">{:__('选择测点')}:</label>
                                <div class="col-xs-12 col-sm-8">
                                    {:Form::selectpickers('row[selectpickers]', $point, '', ['data-rule'=>'required','data-actions-box'=>'true','id'=>'points'])}
                                </div>
                            </div>

                        </form>
                        <div class="form-group layer-footer">
                            <div style="margin: auto;text-align: center">
                                <button type="button" class="btn btn-success btn-embossed layer-down">确定</button>
                                <button type="button" class="btn btn-primary btn-embossed layer-close">取消</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
