@import url(muse-ui.css);
@import url(muse-ui-message.css);
@import url(muse-ui-toast.css);
@import url(css.css);
/*@import url(//cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css);*/
@import url(material-icons.min.css);
@import url(//at.alicdn.com/t/font_273637_p0mzeupu9.css);

.myBtn.mu-raised-button {
    min-width: 30px !important;
    overflow: hidden;
}

.mu-form .mu-form-item .mu-input.has-icon .mu-text-field {
    padding-left: 40px;
}

.mu-table-body-wrapper {
    overflow: visible;
}

.mu-input-icon {
    position: absolute;
    left: 16px;
    top: 8px !important;
}

.iconfont {
    font-size: 24px !important;
}

.ruofeng-body {
    overflow: hidden;
    border-left: 1px solid #1AA094;
    background: #fff;
    margin: 0 auto;
    width:100%;
    min-height: 800px;
    max-height: 1800px;
}
