[app]
debug = false
trace = false

[database]
hostname = 127.0.0.1
database = fastadmin
username = root
password = root
hostport = 3306
prefix = fa_

[cloud]
appKey    = suKOVMfn
appSecret = 8uhfnnoxpwktakus2g8h82jgjhf3cplo
