<body class="inside-header inside-aside ">
    <div id="main" role="main">
        <div class="tab-content tab-addtabs">
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <section class="content-header hide">
                            <h1>
                                控制台 <small>Control panel</small>
                            </h1>
                        </section>
                        <div class="content">
                            <style type="text/css">
                                a {
                                    color: #0984e3;
                                }

                                a:hover {
                                    color: blue;
                                }

                                #main {
                                    height: 100%;
                                }

                                #main>.tab-content {
                                    height: 100%;
                                }

                                #content {
                                    height: 100%;
                                }

                                #content>.row {
                                    height: 100%;
                                }

                                #content>.row>.col-xs-12 {
                                    height: 100%;
                                }

                                #content>.row>.col-xs-12>.content {
                                    height: 100%;
                                    padding: 0px;
                                }

                                .row {
                                    margin: 0px;
                                }

                                .table>tbody>tr>td {
                                    border-top-width: 0px;
                                }

                                .td1 {
                                    padding: 5px 5px 5px 0px;
                                }

                                .m-tr1 {
                                    height: 10%;
                                }

                                .m-tr2 {
                                    height: 90%;
                                }

                                #main1 {
                                    height: 50%;
                                    border: 2px solid #718093;
                                    border-radius: 5px;
                                    border-bottom: none;
                                }

                                #main2 {
                                    height: 50%;
                                    border: 2px solid #718093;
                                    border-radius: 5px;
                                }

                                #main3 {
                                    height: 100%;
                                    border: 2px solid #718093;
                                    border-radius: 5px;
                                    padding: 5px 0px;
                                }

                                .panel-body {
                                    padding: 10px 20px;
                                }

                                .m-td1 {
                                    padding: 20px;
                                }

                                .m-td2 {
                                    padding: 10px 20px 20px 20px;
                                }

                                .c-c {
                                    /* color: #95E6FF; */
                                    font-size: 18px;
                                    font-weight: 600;
                                    padding: 10px 15px 10px 15px;
                                }

                                .c-l {

                                    margin-left: 10px;
                                }

                                .m-td1-1 {
                                    width: 80px;
                                    text-align: center;
                                    border: 1px solid #000 !important;
                                }

                                .m-td1-2 {
                                    border: 1px solid #000 !important;
                                }

                                table td {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }

                                .m-header {
                                    width: 100%;
                                    height: 40px;
                                    position: absolute;
                                    left: 0;
                                    line-height: 46px;
                                }

                                table>thead {
                                    color: #000;
                                }

                                .table-hover>tbody>tr:hover {
                                    background-color: #f1f4f6;
                                }



                                .btn-success {}



                                .daterangepicker {
                                    color: #000;
                                }

                                thead {}

                                .bootstrap-table .table,
                                .bootstrap-table .table>thead>tr>th,
                                .table-bordered>thead>tr>th,
                                .table-bordered>tbody>tr>th,
                                .table-bordered>tfoot>tr>th,
                                .table-bordered>thead>tr>td,
                                .table-bordered>tbody>tr>td,
                                .table-bordered>tfoot>tr>td {}

                                .pagination>li>a {
                                    border: 1px solid #000;
                                    color: #000;
                                }

                                .pagination>.active>a,
                                .pagination>.active>span,
                                .pagination>.active>a:hover,
                                .pagination>.active>span:hover,
                                .pagination>.active>a:focus,
                                .pagination>.active>span:focus {
                                    border: 1px solid #000;
                                    color: #000;
                                }

                                .dropdown-menu {
                                    color: #000000;
                                }

                                select .form-control {
                                    color: #000000;
                                }

                                option {
                                    color: #000000;
                                }

                                .fixed-table-container tbody .selected td {
                                }

                                .fixed-table-loading {
                                    color: #ffffff;
                                    background-color: #01091E;

                                }


                                .layui-layer {
                                    background: #fff;
                                    background-size: 100% 100%;
                                }

                                .layui-layer-title {
                                    background: #fff;
                                    background-size: 100% 100%;
                                }

                                .layui-layer-footer {
                                    background: none !important;
                                }

                                .layui-layer-dialog .layui-layer-padding {
                                    background: #FFFFFF;
                                    color: #0C0C0C;
                                }

                                .layui-layer-fast .layui-layer-btn {
                                    background: #FFFFFF;
                                }

                                .fixed-table-pagination .page-list {
                                    display: none;
                                }

                                @media screen and (max-width: 1250px) {
                                    .c-l {
                                        display: inline-block;
                                        width: 40px;
                                        height: 10px;
                                        background-size: 100% 100%;
                                    }

                                    .c-c {
                                        font-size: 15px;
                                        padding: 0px 10px;
                                    }
                                }
                            </style>
                            <div class="row" style="height: 100%;">
                                <input type="hidden" id="alarm_id" value="{$exception_alarm['id']}">
                                <div class="col-md-6 col-xs-12" style="height: 100%;padding: 10px 5px 10px 0px;">
                                    <div class="row" id="main1">
                                        <div class="m-header">
                                            <span class="c-l"></span>
                                            <span class="c-c">报警详情</span>
                                        </div>
                                        <div class="table-responsive"
                                            style="height: 100%;width: 100%;padding: 50px 20px 10px 20px;">
                                            <table class="table" style="table-layout: fixed;">
                                                <tr>
                                                    <th class="m-td1-1">项目名称</th>
                                                    <td class="m-td1-2">
                                                        {$exception_alarm['project_name']}
                                                    </td>
                                                    <th class="m-td1-1">流水号</th>
                                                    <td class="m-td1-2">{$exception_alarm['serial']}</td>
                                                </tr>
                                                <tr>
                                                    <th class="m-td1-1">所属工程</th>
                                                    <td class="m-td1-2">
                                                        <span class="my-tips">
                                                            <a href="engineering/engineering/detail/ids/{$exception_alarm['engineering_id']}"
                                                                class="btn-addtabs"
                                                                title="项目管理">{$exception_alarm['engineering_name']}</a>
                                                        </span>
                                                    </td>
                                                    <th class="m-td1-1">所属机构</th>
                                                    <td class="m-td1-2">
                                                        <span class="my-tips">{$exception_alarm['agency_name']}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="m-td1-1">警情状态</th>
                                                    <td class="m-td1-2">
                                                        <i class="fa fa-square" aria-hidden="true"
                                                            style="color: {if condition="($exception_alarm['alarm_status'] == 0) "}#009688
                                                        {elseif condition="$exception_alarm['alarm_status'] == 1"/}#FFCC00
                                                        {elseif condition="$exception_alarm['alarm_status'] == 2"/}#FF6600
                                                        {elseif condition="$exception_alarm['alarm_status'] == 3"/}#ed5565
                                                        {else /} #009688
                                                        {/if};">
                                                            <b>{if condition="($exception_alarm['alarm_status'] == 0) "}
                                                                正常
                                                                {elseif condition="$exception_alarm['alarm_status'] == 1"/}预警
                                                                {elseif condition="$exception_alarm['alarm_status'] == 2"/}报警
                                                                {elseif condition="$exception_alarm['alarm_status'] == 3"/}控制
                                                                {else /} 其他
                                                                {/if}
                                                            </b>
                                                        </i>
                                                    </td>
                                                    <th class="m-td1-1">报警日期</th>
                                                    <td class="m-td1-2">
                                                        <span><?php echo date('Y-m-d H:i:s',$exception_alarm['createtime']) ?>
                                                        </span>
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <th class="m-td1-1">警情确认</th>
                                                    <td class="m-td1-2">
                                                        <span class="label label-success">{if condition="($exception_alarm['judge_status'] == 0) "}
                                                                报警未确认
                                                                {elseif condition="$exception_alarm['judge_status'] == 1"/}申请消警
                                                                {elseif condition="$exception_alarm['judge_status'] == 2"/}警情已申请消警
                                                                {elseif condition="$exception_alarm['judge_status'] == 3"/}警情已确认消警
                                                                {else /} 其他
                                                                {/if}</span>
                                                        <input type="hidden" value="{$exception_alarm['judge_status']}" id="judge_status">
                                                    </td>
                                                    <th class="m-td1-1">确认日期</th>
                                                    <td class="m-td1-2">
                                                        <span>
                                                            <?php echo
                                                            empty($exception_alarm['judge_time'])?'未确认':
                                                            date('Y-m-d H:i:s',$exception_alarm['judge_time'])
                                                            ?>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="m-td1-1">处理进度</th>
                                                    <td class="m-td1-2">
                                                        <span class="label label-success">
                                                            {if condition="($exception_alarm['record_status'] == 0) "}
                                                                未处理
                                                                {elseif condition="$exception_alarm['record_status'] == 1"/}处理中
                                                                {elseif condition="$exception_alarm['record_status'] == 2"/}待消警
                                                                {elseif condition="$exception_alarm['record_status'] == 3"/}已消警
                                                                {else /} 其他
                                                                {/if}
                                                        </span>
                                                        <input type="hidden" value="{$exception_alarm['record_status']}" id="record_status">
                                                    </td>
                                                    <th class="m-td1-1">处理日期</th>
                                                    <td class="m-td1-2">
                                                        <span>
                                                          <?php echo
                                                            empty($exception_alarm['record_time'])?'未处理':
                                                            date('Y-m-d H:i:s',$exception_alarm['judge_time'])
                                                          ?>
                                                        </span>
                                                    </td>
                                                </tr>


                                            </table>
                                        </div>
                                    </div>
                                    <div class="row" id="main2">
                                        <div class="m-header">
                                            <span class="c-l"></span>
                                            <span class="c-c">报警记录</span>
                                        </div>
                                        <div class="panel-body">
                                            <table id="table-log"
                                                class="table table-striped table-bordered table-hover table-nowrap"
                                                width="100%" style="table-layout: fixed">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12" style="height: 100%;padding: 10px 0px 10px 5px">
                                    <div class="row" id="main3">
                                        <div>
                                            <span class="c-l"></span>
                                            <span class="c-c">报警处理记录</span>
                                        </div>
                                        <div class="panel-body">
                                            <div id="toolbar" class="toolbar">
                                                <a href="javascript:;" class="btn btn-primary btn-refresh" title="刷新">
                                                    <i class="fa fa-refresh"></i>
                                                </a>
                                                <a href="javascript:;" class="btn btn-success btn-judge " title="警情确认">
                                                    警情确认
                                                </a>
                                                <a href="javascript:;" class="btn btn-success btn-record " title="警情处理">
                                                    警情处理
                                                </a>
                                                <a href="javascript:;" class="btn btn-success btn-apply " title="申请消警">
                                                    申请消警
                                                </a>
                                                <a href="javascript:;" class="btn btn-success btn-cancel " title="消警确认">
                                                    消警确认
                                                </a>
                                            </div>
                                            <table id="table-alarm"
                                                class="table table-striped table-bordered table-hover table-nowrap"
                                                width="100%" style="table-layout: fixed">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
