<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Engineering_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-engineering_id" data-rule="required" data-source="engineering/index" class="form-control selectpage" name="row[engineering_id]" type="text" value="{$row.engineering_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-type" class="form-control" name="row[type]" type="number" value="{$row.type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Staff_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-staff_id" data-rule="required" data-source="staff/index" class="form-control selectpage" name="row[staff_id]" type="text" value="{$row.staff_id|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
