<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="__CDN__/assets/libs/fengwo/css/all.css">
<link rel="stylesheet" href="__CDN__/assets/libs/fengwo/css/style.css">
<!--<script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>-->
<!--<script src="__CDN__/assets/libs/fastadmin-citypicker/dist/js/city-picker.data.js"></script>-->
<!--<script src="__CDN__/assets/libs/fastadmin-citypicker/dist/js/city-picker.min.js"></script>-->
<!--<link rel="stylesheet" href="__CDN__/assets/libs/fastadmin-citypicker/dist/css/city-picker.css">-->
<style>
    * {
        padding: 0;
        margin: 0;
    }

    html,
    body,
    #container {
        height: 100%;
        width: 100%;
        background: rgb(242, 242, 242);
    }

    .content {
        padding: 0px !important;
    }

    .left {
        height: 96%;
        width: 100%;
        margin-top: 1%;
    }

    .right {
        width: 25%;
        display: inline-block;
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
    }

    .wrap {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    #china_map {
        width: 100%;
        height: 100%;
        border-radius: 5px 0 0 5px;
    }

    .c-e {
        font-size: 14px;
        padding-top: 5px;
    }

    .c-e p {
        margin: 0 21px !important;
        display: inline-block !important;
    }

    .BMap_cpyCtrl {
        display: none;
    }

    .anchorBL {
        display: none;
    }

    .amap-logo img {
        display: none;
    }

    .amap-copyright {
        opacity: 0;
    }

    #main1 {
        height: 33%;
        margin-left: 15%;
        width: 70%;
        color: #95E7FF;
        background: rgba(255, 255, 255, .9);
        position: relative;
        border-radius: 5px 0 0 5px;
    }

    #main2 {
        height: 96%;
        width: 100%;
        margin-top: 1%;
    }

    .m-3-2 {
        font-size: 14px;
        font-weight: 600;
        color: #18bc9c;
    }

    #m-dev {
        padding: 0px 10px;
        width: 100%;
        height: 95%;
    }

    .head {
        background-size: 100% 100%;
        width: 100%;
        color: #fff;
        font-weight: 900;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        margin-top: 8px;
    }

    #m-log {
        width: 100%;
        height: 100%;
        position: relative;
        padding-top: 5px;
    }

    .marquee-view {
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: 85%;
        font-size: 14px;
        margin-top: 2%;
    }

    .marquee {
        height: 100%;
        animation: row 20s linear infinite;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: row;
    }

    .marquee:hover {
        animation-play-state: paused;
    }

    .row1 {
        height: 6%;
        color: #fff;
        font-size: 12px;
        position: relative;
        display: flex;
        font-weight: 500;
        line-height: 30px;
        justify-content: space-between;
    }

    .row1:hover {
        color: #fff;
        background: #18bc9c;
    }

    .col {
        text-align: center;
    }

    .col:nth-child(1) {
        width: 7%;
    }

    .col:nth-child(2) {
        width: 10%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .col:nth-child(3) {
        width: 11%;
    }

    .col:nth-child(4) {
        width: 22%;
    }

    .col:nth-child(5) {
        width: 33%;
    }

    .col:nth-child(6) {
        width: 7%;
    }

    .icon-dot {
        position: absolute;
        /*left: 0.64rem;*/
        opacity: 0;
    }

    @keyframes row {
        0% {}

        100% {
            transform: translateY(-50%);
        }
    }

    #echartthree {
        width: 1183px;
        height: 515px;
        margin-top: 20px;
    }

    .el-input__inner {
        width: 100%;
        -webkit-appearance: none;
        background-color: #FFF;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #DCDFE6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 40px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);

    }

    .echart-selet {
        max-width: 150px !important;
        min-width: 100px !important;
        width: calc(100vw - 800px) !important;
        margin-bottom: 0;
        display: inline-block;
    }

    .echart-selet {
        margin-left: 10px;
    }

    .el-input {
        position: relative;
        font-size: 14px;
        display: inline-block;
        width: 100%;
    }

    .el-select>.el-input {
        display: block;
    }

    .el-input__suffix {
        right: 5px;
        transition: all .3s;
    }

    .el-input__prefix,
    .el-input__suffix {
        position: absolute;
        top: 0;
        -webkit-transition: all .3s;
        height: 100%;
        color: #C0C4CC;
        text-align: center;
    }

    .el-input__suffix-inner {
        pointer-events: all;
    }

    .el-select .el-input .el-select__caret {
        color: #C0C4CC;
        font-size: 14px;
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
        cursor: pointer;
    }

    .el-input__icon {
        height: 100%;
        width: 25px;
        text-align: center;
        -webkit-transition: all .3s;
        transition: all .3s;
        line-height: 40px;
    }

    [class*=" el-icon-"],
    [class^=el-icon-] {
        font-family: element-icons !important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        vertical-align: baseline;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .el-input__icon:after {
        content: '';
        height: 100%;
        width: 0;
        display: inline-block;
        vertical-align: middle;
    }

    .el-icon-arrow-up:before {
        content: "\e6e1";
    }

    .popper__arrow {
        left: 35px;
        top: -6px;
        margin-right: 3px;
        border-top-width: 0;
        border-bottom-color: #EBEEF5;
    }

    .el-select-dropdown__wrap::-webkit-scrollbar {
        width: 0 !important
    }

    .el-popper .popper__arrow::after {
        content: " ";
        border-width: 6px;
        top: 1px;
        margin-left: -6px;
        border-top-width: 0;
        border-bottom-color: #FFF;
    }

    .el-select-dropdown__wrap {
        max-height: 226px !important;
    }

    .amap-zoomcontrol {
        position: absolute;
        left: 5px !important;
    }

    .layers1 {
        position: absolute;
        right: 26px;
        top: 10px;
        cursor: pointer;
        z-index: 10;
    }
    #containeone{
        position: absolute;
        right: 20px;
        top: 130px;
        cursor: pointer;
        z-index: 10;
        background: #222D32;
        color: #FFF;
        font-size: 12px;
        width: 37px;
        height: 30px;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;
    }

    .xuanfu {
        position: absolute;
        width: 118px;
        height: 85px;
        background: #fff;
        right: 40px;
        top: 0px;
        text-align: center;
        border-radius: 2px;
        display: none;
    }

    .amap-zoom-touch-plus>div,
    .amap-zoom-touch-minus>div {
        line-height: 20px !important;
        background: none !important;
        color: #6c8c9b;
        border-radius: 50%;
        border: 1px solid #6c8c9b;
        font-size: 18px;
    }

    .amap-touch-toolbar .amap-zoomcontrol {
        width: 25px !important;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    .amap-zoom-touch-plus,
    .amap-zoom-touch-minus {
        height: 25px !important;
        background: none !important;
        margin-top: 10px;
    }

    .amap-zoom-touch-plus {
        margin-bottom: 0 !important;
    }

    .amap-touch-toolbar .amap-zoomcontrol:after {
        height: 0px !important;
    }

    .xuanfu label {
        margin-top: 5px;
    }

    .xuanfu input[type="radio"] {
        margin: 0px 4px 0px 0px;
    }

    .back_btn {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #18bc9c;
        color: #fff;
        line-height: 35px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        display: none;
        z-index: 10;
    }

    .centerwrap {
        width: 70%;
        height: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba(44, 58, 71, 0.9);
        border-radius: 10px;
        z-index: 10;
    }

    .right_persi {
        display: inline-block;
        height: 110px;
        width: 28px;
        right: 26px;
        top: 23%;
        position: absolute;
        cursor: pointer;
    }

    .right_peowenzi {
        width: 100%;
        height: 100%;
        background: #222D32;
        border-radius: 12px;
        text-align: center;
        float: right;
        position: relative;
    }

    .right_peobg {
        width: 100%;
        height: 80%;
        background: #2c3a47;
        border-radius: 1rem;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 19px;
        font-weight: bold;
        position: absolute;
        -webkit-animation: mymove 3s linear infinite alternate;
        animation: mymove 3s linear infinite alternate;
    }

    .right_peobg span {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .right_peoimg {
        width: 100%;
        height: 100%;
        background: rgba(128, 3, 255, .8);
        border-radius: 0.3rem;
        text-align: center;
        /* -webkit-animation: mybig-data-v-26354808 1.5s;
        animation: mybig-data-v-26354808 1.5s; */
    }

    .right_peoimg p {
        font-size: 14px;
        color: #fff;
    }

    .rig_two {
        top: 28% !important;
    }

    .rig_three {
        top: 42% !important;
    }
    @keyframes mymoveone {
        from {
            top: 4.5%;
        }

        to {
            top: 5.5%;
        }
    }
    @keyframes mymovetwo {
        from {
            top: 50.5%;
        }

        to {
            top: 51.5%;
        }
    }
    @keyframes mymove {
        from {
            top: 0px;
        }

        to {
            top: 21px;
        }
    }

    .xianone {
        width: 100%;
        height: 2px;
        background: #6c8c9b;
        margin-top: 1%;
    }

    .coxzaij {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        line-height: 24px;
        text-align: center;
        border: 1px solid #6c8c9b;
        right: 5px;
        top: 5px;
        color: #6c8c9b;
        cursor: pointer;
        z-index: 10;
    }

    .shujul1 {
        font-size: 18px;
        color: #fff;
        display: inline-block;
    }

    .titleone {
        color: #18bc9c;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 3px;
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translate(-50%, 0px);
    }

    .h1-3 {
        float: left;
        color: #fff;
        text-align: center;
        font-size: 16px;
    }
    .textine{
        width: 20px;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .control-relative{
        width: 120px;
        display: inline-block;
        position: relative;
        z-index: 99999;
    }
    .clear{
        width: 125px;
        display: inline-block;
        float: left;

    }
    .twofdsas{
        width: 114px;
        display: inline-block;
        padding-top: 45px;
        position: absolute;
        right: 108px;
    }
    .cenasas{
        width: 300px;
        position: absolute;
        top: 5%;
        animation: mymoveone 3s linear infinite alternate;
    }
    .cenasas1{
        width: 300px;
        position: fixed;
        top: 51%;
        animation: mymovetwo 3s linear infinite alternate;
    }
    .wenzixuanzhuan{
        transform: rotate(-90deg);
        width: 100px;
        position: absolute;
        top: 26px;
        left: 11px;
        font-size: 25px;
        font-weight: bold;
        height: 50px;
    }
    .fengexian{
        width: 200px;
        height: 3px;
        background: #222D32;
        position: absolute;
        left: 0;
        top: 4%;
        color: #fff;
        text-align: center;
    }
    .fengexian1{
        width: 200px;
        height: 3px;
        background: #222D32;
        position: absolute;
        left: 0;
        top: 50%;
        color: #fff;
        text-align: center;
    }
    .quanbutitle{
        width: 40%;
        position: absolute;
        left: 50%;
        top: 80px;
        transform: translate(-50%,0px);
        display: flex;
        justify-content: space-between;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div id="app" class="panel panel-default panel-intro">
        <div class="wrap">

            <!-- 卫星地图 -->
            <div id="container"> </div>
            <div class="titleone">监测云平台数据看板</div>
            <div class="quanbutitle">
                <div class="shujul1">传感器实时数据：
                    <span class='c-d' style="color: rgb(24, 188, 156);font-weight: 600;"> {$totalData} 条</span>
                </div>


                <a href="/JMRIUsnmLz.php/exception/exception_alarm" class="btn-addtabs baojin" title="报警管理">
                    <span style="color: #fff;font-size: 18px;" class="m-2-1"> 实时报警数据：</span>
                    <span style="font-size: 18px; font-weight: 600;vertical-align: top; color: #18bc9c;" class="m-2-2"
                          id="alarm-num">
                    {{alarm_count}} 条
                </span>
                </a>
                <!-- 时间 -->
                <div class="h1-3">
                </div>

            </div>
            <!-- 全屏按钮 -->
            <div @click="yigecida()" id='containeone'>全屏</div>
            <div class="layers1">
                <img class="img-xuan" src="/assets/img/layers.png" />
                <div class="xuanfu">
                    <label> <input class="morenint" type="radio" value="0" name="map" checked>高德暗夜地图</label>
                    <label> <input type="radio" value="1" name="map">高德卫星地图</label>
                    <label> <input type="radio" value="2" name="map">高德街道地图</label>
                </div>
            </div>
            <!-- 中间内容 -->
            <div class="centerwrap" style="display: none;">
                <div class="coxzaij">X</div>
                <!-- 检测类型和设备统计 -->
                <div id="main1" style="display: none;">
                    <table width="100%" height="100%" border="0" class="tab1">
                        <tbody>
                        <tr class="m-tr1">
                            <td colspan="2">
                                <div class="c-a" style="position: relative;left: 20px;color: black;">
                                    <i class="back fa fa-clone"></i>监测类型
                                </div>
                            </td>
                        </tr>
                        <tr class="m-tr2">
                            <td class="text-center cl-xs-5">
                                <a href="/JMRIUsnmLz.php/board" class="btn-addtabs" title="监测类型">
                                    <div><span class="m-1-1">{{monitor[0].mon_item_name}}</span></div>
                                    <div class="m-1-2" id="m-type-1">{{monitor[0].count}}</div>
                                </a>
                            </td>
                            <td class="text-center cl-xs-5">
                                <a href="/JMRIUsnmLz.php/board" class="btn-addtabs" title="监测类型">
                                    <div><span class="m-1-1">{{monitor[1].mon_item_name}}</span></div>
                                    <div class="m-1-2" id="m-type-2">{{monitor[1].count}}</div>
                                </a>
                            </td>
                        </tr>
                        <tr class="m-tr2">
                            <td class="text-center cl-xs-5">
                                <a href="/JMRIUsnmLz.php/board" class="btn-addtabs" title="监测类型">
                                    <div><span class="m-1-1">{{monitor[2].mon_item_name}}</span></div>
                                    <div class="m-1-2" id="m-type-3">{{monitor[2].count}}</div>
                                </a>
                            </td>
                            <td class="text-center cl-xs-5">
                                <a href="/JMRIUsnmLz.php/board" class="btn-addtabs" title="监测类型">
                                    <div><span class="m-1-1">{{monitor[3].mon_item_name}}</span></div>
                                    <div class="m-1-2" id="m-type-4">{{monitor[3].count}}</div>
                                </a>
                            </td>
                        </tr>
                        <tr class="m-tr2">
                            <td class="text-center">
                                <a href="/JMRIUsnmLz.php/board" class="btn-addtabs" title="监测类型">
                                    <div><span class="m-1-1">{{monitor[4].mon_item_name}}</span></div>
                                    <div class="m-1-2" id="m-type-5">{{monitor[4].count}}</div>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="/JMRIUsnmLz.php/board" class="btn-addtabs" title="监测类型">
                                    <div><span class="m-1-1">{{monitor[5].mon_item_name}}</span></div>
                                    <div class="m-1-2" id="m-type-6">{{monitor[5].count}}</div>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <!-- 设备统计 -->
                    <table width="100%" height="100%" border="0" class="tab1">
                        <tbody>
                        <tr style="height: 10%;" class="m-tr3">
                            <td class="cl-xs-5" style="vertical-align: top">
                                <div class="c-a" style="position: relative;left: 20px;top: 6px;color: #333;"><i
                                        class="back fa fa-chain"></i>设备统计</div>
                            </td>
                            <td class="cl-xs-5 text-center" style="vertical-align: top;">
                                <a href="/JMRIUsnmLz.php/sensor" class="btn-addtabs"
                                   style="position: relative;top: 6px;right: 15px;" title="设备统计">
                                    <span style="color: #333;" class="m-3-1">设备总数：</span><span class="m-3-2"
                                                                                               id="dev-num">{{devices_total}}</span>
                                </a>
                            </td>
                        </tr>
                        <tr class="m-tr4">
                            <td colspan="2" class="m-3-3">
                                <!-- 横向柱状图  -->
                                <div id="m-dev">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="100%" height="100%" border="0" class="tab1">
                        <tbody>
                        <tr class="m-tr1">
                            <td colspan="3" style="vertical-align: top;">
                                <div class="c-b xiangmu" style="position: relative;top: 6px;left: 20px;color: #333;">
                                    <i class="back fa fa-paper-plane"></i>项目运行
                                </div>
                            </td>
                        </tr>
                        <tr class="m-tr7">
                            <!-- <div class="xian"></div> -->
                            <td class="cl-xs-8">
                                <!-- 项目运行echarts -->
                                <div id="project1" style="width: 100%;height: 100%;">
                                </div>
                            </td>
                            <td class="m-5-3" rowspan="2">
                                <div class="xian"></div>
                            </td>
                            <td class="cl-xs-8">
                                <!-- 项目运行 -->
                                <div id="project2" style="width: 100%;height: 100%;">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>














                </div>

                <!-- 三级联动和图表 -->
                <div class="left" style="display: none;">
                    <div style="text-align: center;font-size: 18px; font-weight: bold;color: #fff;"></div>
                    <div style="width: 100%;position: relative;">

                        <div  id="aaksdkaskd" class='control-relative'>
                            <input id="c-city" class="form-control" data-toggle="city-picker" placeholder="请选择省/市" type="text">
                        </div>







                        <div class="el-select echart-selet">
                            <div id="qutwo" class="el-input el-input--suffix">
                                <input type="text" autocomplete="off" placeholder="请选择" class="el-input__inner"
                                       readonly="readonly">
                                <span class="el-input__suffix">
                                <span class="el-input__suffix-inner"><i
                                        class="el-select__caret el-input__icon el-icon-arrow-up"></i></span>
                            </span>
                            </div>
                        </div>
                        <div class="el-select echart-selet">
                            <div id="quthree" class="el-input el-input--suffix">
                                <input type="text" autocomplete="off" placeholder="请选择" class="el-input__inner"
                                       readonly="readonly">
                                <span class="el-input__suffix">
                                <span class="el-input__suffix-inner"><i
                                        class="el-select__caret el-input__icon el-icon-arrow-up"></i></span>
                            </span>
                            </div>
                        </div>


                        <!-- 下拉选择 -->
                        <div class="el-select-dropdown el-popper" id="diquone"
                             style="min-width: 150px; transform-origin: center top; z-index: 2120; display: none;">
                            <div class="el-scrollbar">
                                <div class="el-select-dropdown__wrap el-scrollbar__wrap"
                                     style="margin-bottom: -7px; margin-right: -7px;">
                                    <ul class="el-scrollbar__view el-select-dropdown__list">
                                        <li class="el-select-dropdown__item selected hover"><span>工程选择</span></li>
                                        <li class="el-select-dropdown__item"><span>平湖市</span></li>
                                        <li class="el-select-dropdown__item"><span>临安区</span></li>
                                        <li class="el-select-dropdown__item"><span>萧山区</span></li>
                                        <li class="el-select-dropdown__item"><span>琪玮智创园</span></li>
                                    </ul>
                                </div>
                                <div class="el-scrollbar__bar is-horizontal">
                                    <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                                </div>
                                <div class="el-scrollbar__bar is-vertical">
                                    <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                                </div>
                            </div>
                            <div x-arrow="" class="popper__arrow"
                                 style="left: 35px;border-top-width: 0;border-bottom-color: #EBEEF5;"></div>
                        </div>
                        <div class="el-select-dropdown el-popper" id="didiantwo"
                             style="min-width: 150px; transform-origin: center top; z-index: 2120; display: none;">
                            <div class="el-scrollbar">
                                <div class="el-select-dropdown__wrap el-scrollbar__wrap"
                                     style="margin-bottom: -7px; margin-right: -7px;">
                                    <ul class="el-scrollbar__view el-select-dropdown__list">
                                        <li class="el-select-dropdown__item selected hover"><span>项目选择</span></li>
                                        <li class="el-select-dropdown__item"><span>平湖市</span></li>
                                        <li class="el-select-dropdown__item"><span>122</span></li>
                                        <li class="el-select-dropdown__item"><span>萧山区</span></li>
                                        <li class="el-select-dropdown__item"><span>松阳县</span></li>
                                        <li class="el-select-dropdown__item"><span>余杭区</span></li>
                                        <li class="el-select-dropdown__item"><span>富阳区</span></li>
                                        <li class="el-select-dropdown__item"><span>上虞区</span></li>
                                        <li class="el-select-dropdown__item"><span>其他</span></li>
                                        <li class="el-select-dropdown__item"><span>滨江区</span></li>
                                        <li class="el-select-dropdown__item"><span>越城区</span></li>
                                        <li class="el-select-dropdown__item"><span>嘉善县</span></li>
                                        <li class="el-select-dropdown__item"><span>天台县</span></li>
                                        <li class="el-select-dropdown__item"><span>临安试点</span></li>
                                        <li class="el-select-dropdown__item"><span>西湖区</span></li>
                                    </ul>
                                </div>
                                <div class="el-scrollbar__bar is-horizontal">
                                    <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                                </div>
                                <div class="el-scrollbar__bar is-vertical">
                                    <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                                </div>
                            </div>
                            <div x-arrow="" class="popper__arrow"
                                 style="left: 35px;border-top-width: 0;border-bottom-color: #EBEEF5;"></div>
                        </div>
                        <div class="el-select-dropdown el-popper" id="weizhithree"
                             style="min-width: 150px; transform-origin: center top; z-index: 2120; display: none;">
                            <div class="el-scrollbar">
                                <div class="el-select-dropdown__wrap el-scrollbar__wrap"
                                     style="margin-bottom: -7px; margin-right: -7px;">
                                    <ul class="el-scrollbar__view el-select-dropdown__list">
                                        <li class="el-select-dropdown__item selected hover"><span>测点选择</span></li>
                                        <li class="el-select-dropdown__item"><span>CJ-01</span></li>
                                        <li class="el-select-dropdown__item"><span>临安区</span></li>
                                        <li class="el-select-dropdown__item"><span>萧山区</span></li>

                                    </ul>
                                </div>
                                <div class="el-scrollbar__bar is-horizontal">
                                    <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                                </div>
                                <div class="el-scrollbar__bar is-vertical">
                                    <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                                </div>
                            </div>
                            <div x-arrow="" class="popper__arrow"
                                 style="left: 35px;border-top-width: 0;border-bottom-color: #EBEEF5;"></div>
                        </div>




                    </div>
                    <div id="echartthree" style="width: 1183px;height: 515px;" > </div>
                </div>
                <!-- 滚动警情 -->
                <div id="main2" style="display: none;">
                    <div style="text-align: center;font-size: 18px; font-weight: bold;color: #fff;">报警统计：<span style="font-size: 18px; font-weight: 600;vertical-align: top; color: #18bc9c;">{{alarm_count}}</span> 条</div>
                    <div class="xianone"></div>
                    <table width="100%" height="100%" border="0" class="tab1">
                        <tbody>
                        <tr class="m-tr4">
                            <td colspan="2" class="m-2-3">
                                <div id="m-log">
                                    <!-- background-color: rgb(247 247 247); -->
                                    <div style="display: block; ">
                                        <div class="head">
                                            <span class="col">测点编号</span>
                                            <span class="col">项目名称</span>
                                            <span class="col">报警时间</span>
                                            <span class="col">报警地点</span>
                                            <span class="col">报警内容</span>
                                            <span class="col">警情状态</span>
                                        </div>
                                        <div class="marquee-view">
                                            <div class="marquee" id="m-list">
                                                <a v-for="(item, index) in alarm" :key="index"
                                                   :href="'/JMRIUsnmLz.php/exception/exception_alarm/detail/ids/'+ item.exception_alarm_id + '?ref=addtabs'"
                                                   class=" btn-addtabs">
                                                    <div class="row1">
                                                        <span class="col">{{item.point_code}}</span>
                                                        <span class="col">{{item.item_name}}</span>
                                                        <span class="col">{{item.record_time}}</span>
                                                        <span class="col">{{item.address}}</span>
                                                        <span class="col">{{item.content}}</span>
                                                        <span class="col">{{item.alarm_status_name}}</span>
                                                        <span class="icon-dot">
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 右 -->
            <div class="right">
                <div style="width: 100%;height: 38%;position: absolute;bottom: 0px;">
                    <span class="back_btn">返回 </span>
                    <!-- 地图 -->
                    <div class="c-3" id="china_map">
                    </div>
                </div>
                <!-- 右边悬浮按钮 -->
                <div vlaue=1 class="right_persi">
                    <div class="right_peowenzi">
                        <div class="right_peobg right_pone"><div class="textine">报警统计</div></div>
                    </div>
                    <div class="right_peoimg" style="display:none;">
                        <img src="/assets/img/layers.png" alt="">
                        <p>报警统计</p>
                    </div>
                </div>
                <!-- <div  vlaue = 2 class="right_persi rig_two">
                    <div class="right_peowenzi">
                        <div class="right_peobg"><span>检测设备</span></div>
                    </div>
                    <div class="right_peoimg" style="display:none;" >
                        <img src="/assets/img/layers.png" alt="">
                        <p>检测设备</p>
                    </div>
                </div> -->
                <div vlaue=3 class="right_persi rig_three">
                    <div class="right_peowenzi">
                        <div class="right_peobg right_ptwo"><div class="textine">滚动警情</div></div>
                    </div>
                    <div class="right_peoimg" style="display:none;">
                        <img src="/assets/img/layers.png" alt="">
                        <p>滚动警情</p>
                    </div>
                </div>


            </div>

            <div class="fengexian"><span style="position: absolute;top: -20px;left: 50%; margin-left: -46px;font-size: 16px;font-weight: bold;" >机构工程设备</span></div>
            <!-- 蜂窝状的样式 -->
            <div class="cenasas">
                <div class="hexagon-menu clear">
                    <div  v-for="(item,index) in arrthree" :key="index"   class="hexagon-item">
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <a href="" class="hex-content">
                            <div class="wenzixuanzhuan">
                                <div style="color: #18bc9c;" >{{item.num}}</div>
                                <div class="title">{{item.name}}</div>
                            </div>
                            <svg viewBox="0 0 173.20508075688772 200" height="107" width="120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                        </a>
                    </div>


                </div>
                <div class="twofdsas">
                    <div v-for="(item,index) in arrfor"  :key="index" class="hexagon-item">
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <a href="" class="hex-content">
                            <div class="wenzixuanzhuan">
                                <div style="color: #18bc9c;" >{{item.num}}</div>
                                <div class="title">{{item.name}}</div>
                            </div>
                            <svg viewBox="0 0 173.20508075688772 200" height="107" width="120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                        </a>
                    </div>

                </div>
            </div>
            <div class="fengexian1"><span style="position: absolute;top: -20px;left: 50%; margin-left: -46px;font-size: 16px;font-weight: bold;" >工程项目监测</span></div>
            <div class="cenasas1">
                <div class="clear">
                    <div v-for="(item, index) in arryone" :key="index"    class="hexagon-item">
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <a href="/JMRIUsnmLz.php/engineering_type" class="hex-content">
                            <div class="wenzixuanzhuan">
                                <div style="color: #18bc9c;" >{{item.count}}</div>
                                <div class="title">{{item.mon_item_name}}</div>
                            </div>
                            <svg viewBox="0 0 173.20508075688772 200" height="107" width="120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#2C3A47"></path></svg>
                        </a>
                    </div>
                </div>
                <div class="twofdsas">
                    <div  v-for="(item, index) in arrytwo" :key="index"  class="hexagon-item">
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <a href="/JMRIUsnmLz.php/engineering_type" class="hex-content">
                            <div class="wenzixuanzhuan">
                                <div style="color: #18bc9c;" >{{item.count}}</div>
                                <div class="title">{{item.mon_item_name}}</div>
                            </div>
                            <svg viewBox="0 0 173.20508075688772 200" height="107" width="120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#2C3A47"></path></svg>
                        </a>
                    </div>
                </div>
            </div>




        </div>
    </div>
</form>
</form>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.2&key=c75741b6f2144f1c55dddbb864d76b4b"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript">
    (function (global, factory) {
        typeof exports === 'object' && typeof module !== 'undefined' ? module.exports = factory() :
            typeof define === 'function' && define.amd ? define(factory) :
                (global.FlashMarker = factory());
    }(this, (function () {
        'use strict';
        var mapobj = null;


        function CanvasLayer(options) {
            this.options = options || {};
            this.zIndex = this.options.zIndex || 0;
            this._map = options.map;
            this.show();
        }

        CanvasLayer.prototype.initialize = function () {
            var map = this._map;
            var canvas = this.canvas = document.createElement('canvas');
            canvas.id = 'myCanvas';
            var ctx = this.ctx = this.canvas.getContext('2d');
            canvas.style.cssText = "position:absolute;" + "left:0;" + "top:0;" + "z-index:" + this.zIndex + ";";
            this.adjustSize();
            this.adjustRatio(ctx);
            this.layer = new AMap.CustomLayer(canvas, {
                canvas: canvas,
                bounds: map.getBounds(),
                zooms: [0, 22]
            });
            this.layer.setMap(map);
            var that = this;
            map.on('mapmove', function () {
                that.adjustSize();
            });
            map.on('zoomchange', function () {
                that.adjustSize();
            });
            // var bounds = map.getBounds();
            // this.layer.setBounds(bounds);
            return this.canvas;
        };

        CanvasLayer.prototype.adjustSize = function () {
            var size = this._map.getSize();
            var canvas = this.canvas;
            canvas.width = size.width;
            canvas.height = size.height;
            canvas.style.width = canvas.width + "px";
            canvas.style.height = canvas.height + "px";
        };

        CanvasLayer.prototype.adjustRatio = function (ctx) {
            var backingStore = ctx.backingStorePixelRatio || ctx.webkitBackingStorePixelRatio || ctx.mozBackingStorePixelRatio || ctx.msBackingStorePixelRatio || ctx.oBackingStorePixelRatio || ctx.backingStorePixelRatio || 1;
            var pixelRatio = (window.devicePixelRatio || 1) / backingStore;
            var canvasWidth = ctx.canvas.width;
            var canvasHeight = ctx.canvas.height;
            ctx.canvas.width = canvasWidth * pixelRatio;
            ctx.canvas.height = canvasHeight * pixelRatio;
            ctx.canvas.style.width = canvasWidth + 'px';
            ctx.canvas.style.height = canvasHeight + 'px';
            ctx.scale(pixelRatio, pixelRatio);
        };

        CanvasLayer.prototype.show = function () {
            this.initialize();
            if (!this.canvas) {
                this.initialize();
            }
            this.canvas.style.display = 'block';
        };

        var global = typeof window === 'undefined' ? {} : window;

        var requestAnimationFrame = global.requestAnimationFrame || global.mozRequestAnimationFrame || global.webkitRequestAnimationFrame || global.msRequestAnimationFrame || function (callback) {
            return global.setTimeout(callback, 1000 / 60);
        };

        function Marker(opts) {
            this.city = opts.name;
            this.location = new AMap.LngLat(opts.lng, opts.lat);
            this.color = opts.color;
            this.type = opts.type || 'circle';
            this.speed = opts.speed || 0.5;
            this.size = 0;
            this.max = opts.max || 20;
        }

        Marker.prototype.draw = function (context) {
            context.save();
            context.beginPath();
            switch (this.type) {
                case 'circle':
                    this._drawCircle(context);
                    break;
                case 'ellipse':
                    this._drawEllipse(context);
                    break;
                default:
                    break;
            }
            context.closePath();
            context.restore();

            this.size += this.speed;
            if (this.size > this.max) {
                this.size = 0;
            }
        };

        Marker.prototype._drawCircle = function (context) {
            var pixel = this.pixel || mapobj.lngLatToContainer(this.location);
            context.strokeStyle = this.color;
            context.moveTo(pixel.x + pixel.size, pixel.y);
            context.arc(pixel.x, pixel.y, this.size, 0, Math.PI * 2);
            context.stroke();
        };

        Marker.prototype._drawEllipse = function (context) {
            var pixel = this.pixel || mapobj.lngLatToContainer(this.location);
            var x = pixel.x,
                y = pixel.y,
                w = this.size,
                h = this.size / 2,
                kappa = 0.5522848,

                // control point offset horizontal
                ox = w / 2 * kappa,

                // control point offset vertical
                oy = h / 2 * kappa,

                // x-start
                xs = x - w / 2,

                // y-start
                ys = y - h / 2,

                // x-end
                xe = x + w / 2,

                // y-end
                ye = y + h / 2;

            context.strokeStyle = this.color;
            context.moveTo(xs, y);
            context.bezierCurveTo(xs, y - oy, x - ox, ys, x, ys);
            context.bezierCurveTo(x + ox, ys, xe, y - oy, xe, y);
            context.bezierCurveTo(xe, y + oy, x + ox, ye, x, ye);
            context.bezierCurveTo(x - ox, ye, xs, y + oy, xs, y);
            context.stroke();
        };

        function FlashMarker(map, dataset) {
            mapobj = map;
            var self = this;

            var animationLayer = null,
                width = map.getSize().width,
                height = map.getSize().height,
                animationFlag = true;
            var markers = this.markers = [];

            var render = function render() {
                var markers = self.markers;
                var animationCtx = animationLayer.canvas.getContext('2d');
                if (!animationCtx) {
                    return;
                }

                if (!animationFlag) {
                    animationCtx.clearRect(0, 0, width, height);
                    return;
                }

                animationCtx.fillStyle = 'rgba(0,0,0,0.95)';
                var prev = animationCtx.globalCompositeOperation;
                animationCtx.globalCompositeOperation = 'destination-in';
                animationCtx.fillRect(0, 0, width, height);
                animationCtx.globalCompositeOperation = prev;

                for (var i = 0; i < markers.length; i++) {
                    var marker = markers[i];
                    marker.draw(animationCtx);
                }
            };


            var mouseInteract = function mouseInteract() {
                map.on('movestart', function () {
                    animationFlag = false;
                });

                map.on('moveend', function () {
                    animationFlag = true;
                    markers = [];
                });

                map.on('zoomstart', function () {
                    animationFlag = false;
                });

                map.on('zoomend', function () {
                    animationFlag = true;
                    markers = [];
                });
            };

            var addMarker = function addMarker() {
                var markers = self.markers;
                var dataset = self.dataset;
                dataset.forEach(function (item, i) {
                    var newMarker = new Marker(item);
                    markers.push(newMarker);
                });
            };


            var init = function init(map, dataset) {
                self.dataset = dataset;

                animationLayer = new CanvasLayer({
                    map: map,
                    update: render
                });

                mouseInteract();

                addMarker();

                (function drawFrame() {
                    requestAnimationFrame(drawFrame);
                    render();
                })();
            };

            init(map, dataset);
        }

        FlashMarker.prototype.update = function (dataset) {
            var self = this;
            self.markers = [];
            dataset.forEach(function (item, i) {
                var newMarker = new Marker(item);
                self.markers.push(newMarker);
            });
        };

        return FlashMarker;

    })));














</script>

